/*공통속성*/
.inner{
  width:1280px;
  padding:0 45px;
  margin:auto;
}
/*======================*/
header{
  width:100%;
  min-width:1280px;
  box-shadow:0px 5px 30px rgba(0,0,0,0.15);
  position: relative;
}
header .inner{
  height:60px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
header img{
  display:block;
}
header .gnb{
  display:flex;
  gap:34px;
  align-items: center;
}

/*banner*/
#banner{
  width:100%;
  min-width:1280px;
  height:500px;
  background:url(../img/Banner.png) center/cover;
}
#banner .inner{
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#banner .inner h1{
  color:#fff;
  font-size:40px;
  line-height:56px;
  font-weight: normal;
  letter-spacing: -1px;
  text-align: center;
}
#banner .inner button{
  width:180px;
  height:58px;
  background-color:#fff;
  color:#333;
  border-radius: 30px;
  margin-top:28px;
  font-size:15px;
  font-weight: bold;
  cursor:pointer;
}
#banner .inner button:hover{
  color:#fff;
  background-color:#C09C6F;
}

/*overview*/
#overview{
  width:100%;
  min-width:1280px;
  height:500px;
  overflow: hidden;
}
#overview .inner{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
#overview .inner .txt h1{
  font-size:30px;
  line-height:45px;
  color:#333;
}
#overview .inner .txt p{
  font-size:15px;
  line-height:24px;
  color:#333;
  margin-top:6px;
}

/*features*/
#features{
  width:100%;
  min-width:1280px;
  height: 700px;
  padding:100px 0;
}
#features .inner{
  display:flex;
  gap:10px;
}
#features .inner .card .pic img{
  display:block;
}
#features .inner .card h2{
  font-size:24px;
  line-height:36px;
  color:#333;
  margin-top:22px;
  margin-bottom:12px;
}
#features .inner .card p{
  font-size:15px;
  line-height: 24px;
  color:#333;
}

/*pricing*/
#pricing{
  width:100%;
  min-width:1280px;
  background-color:#f6f6f6;
  height:810px;
  padding:70px 0;
}

#pricing .inner h1{
  font-size:30px;
  line-height:45px;
  text-align: center;
  color:#333;
  margin-bottom:30px;
}
#pricing .inner .wrap{
  width:790px;
  margin:auto;
  display:flex;
  gap:10px;
}

#pricing .inner .wrap .card{
  width:390px;
  height:550px;
  background-color:#fff;
  text-align: center;
  position: relative;
}
#pricing .inner .wrap .card img{
  display:block;
}
#pricing .inner .wrap .card h2{
  font-size:24px;
  line-height:36px;
  margin-top:30px;
  color:#333;
}
#pricing .inner .wrap .card h3{
  font-size:50px;
  line-height:1;
  letter-spacing: -1px;
  margin-top:10px;
  margin-bottom:25px;
  color:#333;
}
#pricing .inner .wrap .card h3 b{
  font-size:15px;
  font-weight: normal;
  margin-right:6px;
  color:#333;
}
#pricing .inner .wrap .card p{
  font-size:15px;
  line-height: 24px;
  color:#666;
  margin-bottom:6px;
}

#pricing .inner .wrap .card button{
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  bottom:30px;
  width:200px;
  height:60px;
  background-color:#222;
  border-radius: 30px;
  color:#fff;
  font-weight: bold;
  font-size:15px;
  cursor:pointer;
}

footer{
  width:100%;
  min-width:1280px;
  height:300px;
  background:url(../img/Banner-Closing.png) center/cover;
  padding:65px 0;
  text-align: center;
}
footer .inner h1{
  font-size:30px;
  line-height:45px;
  color:#fff;
  margin-bottom:20px;
}
footer .inner button{
  width:180px;
  height:60px;
  background-color:#fff;
  border-radius: 30px;
  font-size:15px;
  font-weight: bold;
  color:#222;
  cursor:pointer;
}