@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
/*노말라이즈*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
ul, li{list-style:none;}
a{text-decoration: none;}

/*프로필 박스 만들기*/
body{
  background-color:#ebfaff;
}

section{
  width:340px;
  padding:30px;
  background-color:#fff;
  margin:50px auto;
  border-radius: 10px;
  box-shadow:10px 10px 30px rgba(0,0,0,0.1);
}

/*상단 버튼*/
section .menu{
  width:100%;
  display:flex;
  justify-content: space-between;
}
section .menu a{
  font-size:20px;
  color:#666;
}
/*프로필 영역*/
section .profile{
  width:100%;
  text-align: center;
  font-family: Arial;
}
section .profile img{
  width:200px;
  height:200px;
  border-radius: 50%;
  margin-bottom: 20px;
}
section .profile h1{
  font-size:22px;
  line-height: 1;
  color:#333;
  margin-bottom:5px;
}
section .profile h2{
  font-weight: normal;
  font-size:12px;
  color:#bbb;
  margin-bottom:30px;
}

section .btnView{
  display:block;
  width:180px;
  height:32px;
  margin:0 auto 20px;
  background-color:#444;
  color:#fff;
  line-height:32px;
  border-radius: 16px;
  font-size:10px;
  font-weight: bold;
  letter-spacing: 1px;
}

/*연락처 목록*/
section .contact{
  margin-bottom:25px;
}
section .contact li{
  width:100%;
  padding:10px 0;
}
section .contact li:first-child{
  border-bottom:1px solid #eee;
}
section .contact li i{
  width:20%;
  text-align: center;
  color:#555;
  font-size:15px;
  text-shadow:2px 2px 2px #ddd;
}
section .contact li span{
  font-size:11px;
  font-family: "Orbitron";
  color:#555;
  letter-spacing: 1px;
}

/*멤버별 링크*/
section .others{
  width:100%;
  text-align: center;
}
section .others a{
  display:inline-block;
  width:30px; height:30px;
  border-radius: 50%;
  background-color:gray;
  margin:0 10px;
  /*버튼의 투명도와 채도를 낮춤(비활성화)*/
  opacity:0.4;
  filter:saturate(0.7);
}
section .others a.on{/*버튼에 on클래스가 추가되면 버튼 활성화*/
  opacity:1;
  filter:saturate(1);
}

section .others a:nth-child(1){
  background-color:#35e0f7;
  box-shadow:5px 5px 10px rgba(74, 255, 255, 0.7);
}
section .others a:nth-child(2){
  background-color:#55f5cd;
  box-shadow:5px 5px 10px rgba(85, 245, 178, 0.7);
}
section .others a:nth-child(3){
  background-color:#ff80df;
  box-shadow:5px 5px 10px rgba(255, 128, 223, 0.7);
}
section .others a:nth-child(4){
  background-color:#a794fd;
  box-shadow:5px 5px 10px rgba(167, 148, 253, 0.7);
}

/*멤버별 프로필 스타일 작성하기*/
/*member1*/
.member1{
  background-color:#ebfaff;
}
.member1 .menu i{
  color:#29c1d5;
}
.member1 section .profile img{
  box-shadow: 5px 15px 30px rgba(173, 216, 230, 0.8);
}
.member1 .btnView{
  background:linear-gradient(45deg, #4affff, #35e0f7);
  box-shadow:5px 10px 20px rgba(0, 255, 255, 0.5);
}
.member1 .contact i{
  color:#29c1d5;
}

/*member2*/
.member2{
  background-color:#edffeb;
}
.member2 .menu i{
  color:#4ae3a3;
}

.member2 section .profile img{
  box-shadow: 5px 15px 30px rgba(189, 204, 183, 0.8);
}
.member2 .btnView{
  background:linear-gradient(45deg, #a0ff9d, #55f5b2);
  box-shadow:5px 10px 20px rgba(33, 250, 105, 0.5);
}
.member2 .contact i{
  color:#4ae3a3;
}

/*member3*/
.member3{
  background-color:#fff3fd;
}
.member3 .menu i{
  color:#ff11c4;
}
.member3 section .profile img{
  box-shadow: 5px 15px 30px rgba(252, 99, 214, 0.8);
}
.member3 .btnView{
  background:linear-gradient(45deg, #ef74ff, #ff11c4);
  box-shadow:5px 10px 20px rgba(255, 17, 196, 0.5);
}
.member3 .contact i{
  color:#ff11c4;
}

/*member4*/
.member3{
  background-color:#f5f0ff;
}
.member4 .menu i{
  color:#a011ff;
}
.member4 section .profile img{
  box-shadow: 5px 15px 30px rgba(183, 82, 250, 0.8);
}
.member4 .btnView{
  background:linear-gradient(45deg, #8e74ff, #a011ff);
  box-shadow:5px 10px 20px rgba(160, 17, 255, 0.5);
}
.member4 .contact i{
  color:#a011ff;
}